# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

.idea/
.fusebox/
.dist
node_modules
.DS_STORE
yarn-error.log
lerna-debug.log